* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
/* .hero {
  height: 400px;
} */
/* for color palette
https://colorhunt.co/palette/191a191e51284e9f3dd8e9a8
 */
/* .hero img {
  width: 16rem;
} */
.root {
  font-family: "Libre Baskerville", serif;
}
/* .root {
  font-family: "Amatic SC", cursive;
} */

<<<<<<< HEAD
/* NavBar */
#navbar {
  color: gray;
  font-size: large;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 2rem;
}

/* nabar */

p {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.09rem;
}

.hero,
.title {
  font-family: "Playfair Display", serif;
}

/* #btn {
  font-family: "Playfair Display", serif;
}
.md-nav {
  display: flex;
  align-items: flex-end;
  padding-right: 2rem;
}
/* .hero,
.projects {
  background: #000;
  min-height: 60vh;
  color: white;
} */

/* title */
.title {
  /* font-family: "Libre Baskerville", serif; */
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  /* letter-spacing: 0.3rem; */
  margin-bottom: 4rem;
}

.title span {
  padding: 0.5rem 0.5rem;
  /* border-bottom: 3px solid; */
}
/* anchor */
/* .icons a {
  text-decoration: none;
  color: #000;
} */
/* icons */
/* .icons {
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */

/* contact */

/* .contact i {
  font-size: 3rem;
} */

/* .icons i {
  font-size: 3rem;
} */
.contact-icons {
  font-size: 4rem;
}
.fa-html5:hover {
  color: red;
}
.fa-css3-alt:hover {
  color: blue;
}
.fa-square-js:hover {
  color: rgb(216, 216, 4);
}
.fa-react:hover {
  color: aqua;
}

.fa-figma:hover {
  background: linear-gradient(
    180deg,
    #f51212 0%,
    rgba(199, 26, 171, 0.72) 100%,
    #14b70e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

/* .icons div {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* projects */
.projects a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}
.social-icon {
  width: 2.5rem;
}
.social-icon:hover {
  transform: scale(1.5); /* increase to 1.1 times original size */
  transition: transform 0.3s ease-in-out;
}

/* so use hover only for screen larger than medium  */
img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.up {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 1.5rem;
}
/* css for download button */
.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  /* background-color: #01e056; */
  background-color: #0be14b;
  border: solid 1px #00e6f6;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
  transform: translateY(100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
/* css for effect on software engineer */
/* .hover-effect,
.hover-effect::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #33f8f8 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #f82222;
  outline: transparent;
  position: relative;
}

.hover-effect::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Software Engineer";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.hover-effect:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
} */

/* css for contact form */
.icons {
  font-size: 3.5rem;
}
/* // to highlight the words in green */
.color-green {
  color: #4e9f3d;
}

.nav-btn:hover {
  background-color: #d8e9a8;
}

.card-text {
  font-size: 0.9rem;
  font-weight: normal;
  /* letter-spacing: 0.0rem; */
}
